.lyrics-screen {
    width: 100%;
    height: 100%;

    overflow: hidden;

    background-color: #000;
    color: #fff;

    &__lyrics {
        position: relative;
        //transition: transform .5s linear 0s;
    }

    &__line {
        width: 100%;
        text-align: center;
        //word-break: break-all;
        white-space: nowrap;

        font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
        font-size: 20px;
        line-height: 20px;

        color: #fff;

        //transition: opacity .5s linear 0s;
    }
}
